@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');

* {
  box-sizing: border-box;
  margin: 0px;
}

.App {
  display: flex;
  flex-direction: column;
  font-family: 'Noto Sans JP', sans-serif;
  align-items: center;
  padding: 20px;
  /* background-color: #FFFFE0; */
  color: #000000;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/bandeira-brasil.jpg);
  min-height:100vh;
}

.body{
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
}

.alert{
  color: #ffffff;
  background-color: #ae2027;
  border-radius: 10px;
  margin: 10px 10px 0 10px;
}

input{
  margin-left: 10px;
  font-size: 12pt;
  border-radius: 10px;
}

form{
  margin: 10px;
}

.DisplayFeedback{
  padding: 10px;
  margin: 10px;
}

.mockCred{
  border-radius: 10px;
  font-size: 15px;
  margin: 0 30px 0 30px;
  font-weight: bold;
  padding: 10px;
  background-color: #24a148;
}

header{
 text-align: center;
 margin: 20px 10px 10px 10px;
}

.right-wrong{
  margin: 20px;
  border: 2px solid #000000;
  border-radius: 10px;
  padding: 10px;
}

.word-original{
  color: #000000;
  background-color: #FFFACD;
  border-radius: 25px;
  margin: 10px;
}

a{
  text-decoration: none;
}

section{
  text-align: center;
  margin: 20px;
 }

 .answer-form{
  padding: 10px;
 }

 .language{
   font-weight: bolder;
   margin: 20px;
 }

 li{ 
  margin: 10px 10px 20px 10px;
  padding: 10px;
  list-style: none;
  border: 1px solid #ffffff;
  border-radius: 25px;
  background-color: #24a148;
  color: #000000;
}

button{
  background-color: #FFFACD;
  color: #24a148;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
}

sub-title{
  text-align: justify;
}

.img{
 width: 150px;
 border: 2px solid #ffffff;
 border-radius: 5px;
}

.title{
  font-weight: bold;
  margin: 10px;
  padding: 30px;
  color: #FFFACD;
  background-color: #24a148;
  border-radius: 25px;
}

a:link, a:visited, a:hover, a:active {
  color: #000000;
}

.log{
  background-color: #24a148;
  color: red;
  border-radius: 25px;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
}

.welcome{
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
  color: #000000;
  background-color: #24a148;
  border-radius: 25px;
}

.sub-title{
  font-size: 15px;
  margin: 10px;
}

.word-main{
  font-size: 20px;
  font-weight: bold;
}

label{
  margin: 10px;
}

#learn-guess-input, #login-username-input, #login-password-input, #registration-name-input, #registration-username-input, #registration-password-input{
  margin: 10px;
}

/* +++++++++++++++ MEDIUM MEDIAS +++++++++++++++++++ */
@media all and (min-width: 600px) {

.body{
  margin: 20px 0 20px 0;
}

header{
  margin: 30px 50px 20px 50px;
}

.dashboard{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.words-flex{
  display: flex;
  max-width: 600px;
  flex-wrap: wrap;
  justify-content: center;
}

li{
  padding: 20px;
  margin: 20px;

}

.word-original{
  padding: 20px;
}

.correct-guesses, .incorrect-guesses{
  padding: 10px;
}

.alert{
  margin: 10px 40px 0 40px;
}

.mockCred{
  margin: 0 100px 0 100px;
}

}

/* +++++++++++++++ BIG MEDIAS +++++++++++++++++++ */
@media all and (min-width: 800px) {

  .words-flex{
    display: flex;
    max-width: 800px;
    flex-wrap: wrap;
    justify-content: center;
  }
}